h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}
body {
	/* Bug 修复：将中文逗号替换为英文逗号 */
	font-family: Verdana, Helvetica, Arial;
	/* 其他属性保持不变 */
	font-size: small;
	line-height: 1.6em;
}
.guarantee {
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 2em;
}
.elixirs {
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  text-align: center;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
}
div.elixirs h2 {
  color: black;
}
.artist {
	font-weight: bold;
}
.cd {
	display: inline-block;
	font-style: italic;
	width: 500px;
}
a:link {
  color: green;
}

/* 已访问状态 */
a:visited {
  color: red;
}

/* 悬停状态 */
a:hover {
  color: yellow;
}
h1, h2 {
  font-weight: 600;
}
h1 {
     font-weight: 200; 
  }
.green-font {
  color: green;
}
.red-font {
  color: red;
}

.blue-font {
  color: blue;
}