p {
  /* font-family: 'Segoe Script'; */
  color: darkorange;
}
h1 {
  border-bottom: 1px solid black;
}
h1,h2 {
 font-family: "Cascadia Mono"
 color: grey;
}
body {
	font-size: 14px;
	font-size: 150%;
	font-size: 1.2em;
	font-size: 5 vh;
}
body {
  font-family: 'Segoe Script';
}