p {
  /* font-family: 'Segoe Script'; */
  color: #bf3;
  font-size: 2vw;
}
h1 {
  border-bottom: 1px solid black;
  font-size: 2rem;
}
h1,h2 {
 font-family: "Cascadia Mono"
 color: green;
 font-size: 1.4rem;
}
body {
  font-family: 'Segoe Script';
}
html {
  font-size: 20px;
}
body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
  background-color:#93b5cf
}